{% extends "base.html" %}

{%block title %}Premium Plumbers{% endblock %}

{% block css %}<link rel = "stylesheet" href = "/static/styles/test.css"> {% endblock %}

{% block main %} 
<section>
    <div class="overlay">
        <div class="contact">
            <h1 style="border:0; margin:0;padding:0;">Premium Plumbers <br> Premium Service</h1>
            <ul>
                <li><button> Get in Touch </button></li>
                <li><i class="fab fa-facebook-square"></i></li>
                <li><i class="fab fa-instagram"></i></li>

            </ul>
        </div>
        <!-- <ul class="socials">
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram"></i></li>
   
        </ul> -->
            
    </div>
</section>
<div class="container">
    <main>
        <div class="description"><br>
            <h6 class="mini-heading">WHO ARE WE?</h6><br>
            <h2 style="text-align: left;">We provide a Premium Plumbing service across Berkshire</h2><br><br>
            <p style="text-align: left;">
                Premium Plumbers are your local experts in all things plumbing and heating. With over 5 years of experience we are able to diagnose and solve a range of heating problems as well as being able to design and install completely new systems.  Something about customer service.....
            </p><br><br><br>
            <h6 class="mini-heading">SERVICES</h6><br>
            <h2>Gas Safe Registered Plumbers</h2>
            <!-- <ul>
                <li>24/7 Service</li><i class="fas fa-business-time"></i>
                <li>Gas Safe Registered</li>
                <li>Qualified Plumbers</li>
                <li>Friendly Service</li>
            </ul> -->


            <!-- <p class="text">Premium Plumbers are the Berkshire experts in plumbing and heating. <br><br>We provide a wide variety of plumbing and heating services and truly believe in providing the highest quality service at an affordable price. </p>
                <br><hr>    -->
        </div>
        <!-- CARD SECTION -->
        <h6 class="mini-heading">SERVICES</h6><br>
        <h2>Gas Safe Registered Plumbers</h2>

        <div class="service">
                <!-- <h6 class="mini-heading">SERVICES</h6><br>
                <h2>Gas Safe Registered Plumbers</h2> -->
                <div class="service1">
                    
                    <img src="/static/images/sink.jpg" alt="" class="card__image" height=250px;>
                    <div class="card__content">  
                        <h1>Plumbing</h1><br>                     
                        <p>Using our expertise we are able to diagnose and solve a range of plumbing problems as well as being able to design and install completely new systems.<br><br></p>
                        <button>Find Out More</button>
                    </div>
                    <div class="card_button">

                    </div>
                    
                </div>
                <div class="service2">
                    <img src="/static/images/boiler_card.jpg" alt="" class="card__image" height=250px;>
                    <div class="card__content"> 
                        <h1>Gas</h1><br>                      
                        <p>Using our expertise we are able to diagnose and solve a range of gas problems as well as being able to design and install completely new systems.<br><br></p>
                        <button>Find Out More</button> 
                    </div>

                    
                </div>
                <div class="service3">
                    <img src="/static/images/radiator2.jpg" alt="" class="card__image" height=250px;>
                    <!-- <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image"> -->
                    <div class="card__content">      
                        <h1>Heating</h1><br>
                        <!-- <hr style=color:lightgray;><br>                -->
                        <p>Using our expertise we are able to diagnose and solve a range of heating problems as well as being able to design and install completely new systems.<br><br></p>
                        <button>Find Out More</button>
                    </div>
                    
                </div>
        </div>

        <div class="reviews">
            <h1>Reviews</h1>
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, culpa?</p>
        
        </div>












{% endblock %}