<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premium Plumbers</title>
    <link href = "{{ url_for('static', filename='styles/index.css')}}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
</head>
<body>
    <section>
        <div class="overlay">
            <div class="nav">
                <h1>24/7 Berkshire Plumbers</h1>
                <div id="logo">
                    <img src = "/static/images/logo23.svg" height=250px alt = "logo">
                </div>

                <ul id="links">
                    <li><a href = '#'><h1>Contact</h1></a></li>
                    <li><a href = '#'><h1>Services</h1></a></li>
                </ul> 
            </div>
        </div>
    </section>
    <!-- <nav>
        <h1>24/7 Berkshire Plumbers</h1>
        <div class="logo">
            <img src = "/static/images/logo23.svg" width =150px>
        </div>
        <div class="nav_links">
            <ul>
                <li><a href = ''>Contact</a></li>
                <li><a href = ''>Services</a></li>
            </ul>
        </div>

    </nav> -->
    <!-- <div class="nav">
        <img src = "/static/images/logo3.svg" alt = "logo" width = "200px">
     
        <div id="logo">
             <img class="img1" src = "/static/images/logo2.png"> 
            <img src = "/static/images/logo2.svg" alt = "logo" width=300px>
        </div>

         <ul id="links">
            <li><a href = '#'><h1>Contact</h1></a></li>
            <li><a href = '#'><h1>Services</h1></a></li>
        </ul> 
        <h1>24/7 Berkshire Plumbers</h1>
    </div>  -->
    <!-- <section> -->
        <!-- <div class="nav">
            <h1>24/7 Berkshire Plumbers</h1>
            <div id="logo">
                <img src = "/static/images/logo.png" height=150px>
            </div>
         -->
<!-- 
        <div class="overlay">
            <div class="nav">
                <h1>24/7 Berkshire Plumbers</h1>
                <div id="logo">
                    <img src = "/static/images/logo23.svg" width =150px>
                </div> -->
                

<!-- 
                <ul id="links">
                    <li><a href = '#'><h1>Contact</h1></a></li>
                    <li><a href = '#'><h1>Services</h1></a></li>
                </ul>  -->
       
            
            <!-- <div class="contact">
                <h1 style="border:0; margin:0;padding:0;">Gas.Heat.Water</h1>
                <button>Contact Us</button>
            </div>
            -->
        <!-- </div>
    </section> -->

    <main>
        <div class="description">
            <h2>Welcome to Premium Plumbers</h2>
            <p class="text">Premium Plumbers are the Berkshire experts in plumbing and heating. <br>We provide a wide variety of plumbing and heating services and truly believe in providing the highest quality service at an affordable price.
            <hr>     
        </div>
   
        <div class="service">
            <!-- <h1 class="service-title"> Services </h1> -->
                <div class="service1">
                    <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                    <div class="card__content">  
                        <h1>Plumbing</h1>                     
                        <h3>Using our expertise we are able to diagnose and solve a range of plumbing problems as well as being able to design and install completely new systems.<br>Click below to find out more...</h3>
                        <button>Find Out More</button>
                    </div>
                    <div class="card_button">

                    </div>
                    
                </div>
                <div class="service2">
                    <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                    <div class="card__content"> 
                        <h1>Gas</h1>                      
                        <h3>Using our expertise we are able to diagnose and solve a range of gas problems as well as being able to design and install completely new systems.<br>Click below to find out more...</h3>
                        <button>Find Out More</button> 
                    </div>

                    
                </div>
                <div class="service3">
                    <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                    <div class="card__content">      
                        <h1>Heating</h1>                 
                        <h3>Using our expertise we are able to diagnose and solve a range of heating problems as well as being able to design and install completely new systems.<br>Click below to find out more...</h3>
                        <button>Find Out More</button>
                    </div>
                    
                </div>
                <!-- <div class="service4">
                    <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image">
                    <div class="card__content">                       
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, facere? Vero dolor laborum rem doloribus est, minima corrupti quod, excepturi unde odio quibusdam alias? Eos sint in est enim laboriosam!</p>
                    </div>
                    
                </div> -->
        </div>




        <div class="reviews">
            <h1>Reviews</h1>
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, culpa?</p>
            <hr>
        </div>
    
        <div class="footer">
            <h1>Footer</h1>
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, tempore?</p>
            <hr>
        </div>

    </main>
    


    <!-- <div class="bottom">
        <div class="reviews">
            <h1>Reviews</h1>
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, culpa?</p>
            <hr>
        </div>
  
        <div class="footer">
            <h1>Footer</h1>
            <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, tempore?</p>
            <hr>
        </div>
    </div> -->
</body>
</html>