<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "/static/styles/test.css">
    <script src="https://kit.fontawesome.com/d7a4ce9781.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="socials">
        <ul>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram"></i></li>
        </ul>
    </div>
    <div class="nav">
                <h1 style=>24/7 Berkshire Plumbers</h1>
                <div id="logo">
                    <img src = "/static/images/logo23.svg" height=150px alt = "logo">
                </div>
    
                <ul class="nav_links">
                    <li><a href = '#'><h1>Home</h1></a></li>
                    <li><a href = '#'><h1>Services</h1></a></li>
                    <li><a href = '#'><h1>Contact</h1></a></li>
                </ul> 
            </div>
    
    
    <section>
        <div class="overlay"></div>
    </section>
   
    <!-- /* TOP SECTION ENDS */

    /* ABOUT SECTION BEGINS */
 -->
    <div class="container">
        <main>
            <div class="description">
                <h2>Welcome to Premium Plumbers</h2><br><br>
                <p class="text">Premium Plumbers are the Berkshire experts in plumbing and heating. <br><br>We provide a wide variety of plumbing and heating services and truly believe in providing the highest quality service at an affordable price. </p>
                    <br><hr>   
            </div>
            <!-- CARD SECTION -->

            <div class="service">
                <!-- <h1 class="service-title"> Services </h1> -->
                    <div class="service1">
                        
                        <img src="/static/images/sink.jpg" alt="" class="card__image" height=250px;>
                        <div class="card__content">  
                            <h1>Plumbing</h1><br>                     
                            <p>Using our expertise we are able to diagnose and solve a range of plumbing problems as well as being able to design and install completely new systems.<br><br>Click below to find out more...</p>
                            <button>Find Out More</button>
                        </div>
                        <div class="card_button">

                        </div>
                        
                    </div>
                    <div class="service2">
                        <img src="/static/images/boiler_card.jpg" alt="" class="card__image" height=250px;>
                        <div class="card__content"> 
                            <h1>Gas</h1><br>                      
                            <p>Using our expertise we are able to diagnose and solve a range of gas problems as well as being able to design and install completely new systems.<br><br>Click below to find out more...</p>
                            <button>Find Out More</button> 
                        </div>

                        
                    </div>
                    <div class="service3">
                        <img src="/static/images/radiator2.jpg" alt="" class="card__image" height=250px;>
                        <!-- <img src="https://fakeimg.pl/400x300/009578/fff/" alt="" class="card__image"> -->
                        <div class="card__content">      
                            <h1>Heating</h1><br>
                            <!-- <hr style=color:lightgray;><br>                -->
                            <p>Using our expertise we are able to diagnose and solve a range of heating problems as well as being able to design and install completely new systems.<br><br>Click below to find out more...</p>
                            <button>Find Out More</button>
                        </div>
                        
                    </div>
            </div>

            <div class="reviews">
                <h1>Reviews</h1>
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum, culpa?</p>
            
            </div>
        
            <div class="footer">
                <h1>Footer</h1>
                <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, tempore?</p>
        
            </div>


    </div>
        
        



</body>
</html>